<h1>Create a New Candy</h1>

<%= form_for(@candy) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:brand) %>
  <%= f.text_field(:brand) %>
  <%= f.label(:calories) %>
  <%= f.number_field(:calories) %>
  <%= f.submit %>
<% end %>
